@import "reset";

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

html{
  font-size: 57%;

  @media #{$tablet} {
    font-size: 53%;
  }

  @media #{$mobile} {
    font-size: 50%;
  }
}

body{
  position: relative;
  font-family: 'Roboto', serif;
  font-size: 1.6 * $unit;
  background: $palette-grey-50;
}

a{
  text-decoration: none;
}

*:focus {
  outline: none;
}