$color-primary: $palette-light-blue-500;
$color-primary-dark: $palette-light-blue-700;
$color-primary-light: $palette-light-blue-100;
$color-accent: $palette-blue-200;
$color-accent-dark: $palette-blue-700;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

$unit: 1rem !default;

$preferred-font: "Roboto", "Helvetica", "Arial", sans-serif !default;
$font-size: 1.6 * $unit !default;
$font-size-tiny: 1.2 * $unit !default;
$font-size-small: 1.4 * $unit !default;
$font-size-normal: $font-size !default;
$font-size-big: 1.8 * $unit !default;
$font-weight-thin: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 500 !default;
$font-weight-bold: 700 !default;

$appbar-height: 5 * $unit;