@import '../../../../../../../../../../../../global';
@import '../../../../../../../../../../../../mixins';
@import 'config';
@import '../../../../tree/config';

.layout{
  position: relative;

  .network{
    height: 40vh;
  }

  &:fullscreen{
    height: 100%;

    .network{
      height: 100%;
    }
  }
}



.menu-container{
  position: fixed;
  overflow: visible;
  z-index: 100;

  .wrapper{
    position: relative;
  }
}

.fullScreenButton{
  position: absolute;
  bottom: $unit;
  right: $unit;
}