@import "../../global";
@import "./config";

.changelog{
  max-width: 60*$unit;
  margin: 0 auto 5 * $unit auto;

  .title{
    font-size: 4*$unit;
    color: $color-accent;
  }

  h2{
    font-size: 2*$unit;
    padding: 2*$unit 0;
    color:$palette-grey-600;
  }

  ul{
    padding-left: 3*$unit;

    li{
      list-style: circle;
      line-height: 3*$unit;
    }
  }
}