@import './config';
@import '../style';

.collections{
  @include page;
  display: block;
  max-width: 45 * $unit;
  margin: 4*$unit auto $unit auto;
  padding: 0;

  .collection-item{
    position: relative;

    .remove-collection-button{
      position: absolute;
      right: $unit;
      top: 0.5 * $unit;
    }
  }
  
  .collections-empty{
    text-align: center;
    color: $palette-grey-400;
    padding: 1.5 * $unit 0;
  }
}

.matchers-section{
  display: inline-flex;
  margin-top: 3*$unit;
  padding-top: 3*$unit;
  width: 100%;
  border-top: 1px solid $palette-grey-200;

  .label{
    padding: 2*$unit 3*$unit 0 $unit;
    display: block;
    position: relative;
    width: 13 * $unit;

    .label-header{
      color: $color-accent;
      font-size: 1.2 * $unit;
      position: absolute;
      top:0;
      left: 0;
    }

    .label-value{
      display: block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .matchers{
    flex: 1;
  }
}

.rules-section{
  .none{
    color: $palette-grey-400;
    font-size: 1.5 * $unit;
    vertical-align: middle;
    margin-bottom: 2 * $unit;
  }

  .rule{
    display: inline-flex;
    width: 100%;
    margin-bottom: 4 * $unit;

    .rule-condition,
    .rule-consequence{
      flex: 1;

      .enlightment{
        font-size: 3*$unit;
        color: $color-accent;
      }

      .title{
        font-size: 1.4*$unit;
        color: $palette-grey-300;
      }
    }

    .rule-condition{
      padding-right: 2*$unit;
    }

    .input{
      padding-bottom: 0;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


@keyframes slideInUp {
  from {
    transform: translate3d(0, 20%, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
