@import "../../global";
@import "./config";

$content-offset: 4.8 * $unit;
$content-width: 740px;

.header {
  padding: 0 calc((100% - #{$hero-max-width}) / 2);
  color: $hero-text-color;
  text-align: center;
  background: linear-gradient(45deg, $hero-gradient-dark 0%, $hero-gradient-light 100%);
  background-position: top right;
  background-size: 120%;

  a{
    cursor: pointer;
  }

  .logo {
    width: $hero-logo-size;
    height: $hero-logo-size;
    margin-top: $hero-item-spacing;
    opacity: $hero-logo-opacity;
    fill: $hero-text-color;
  }
  .title {
    font-size: 4.5 * $unit;
    margin-top: $hero-item-spacing;
  }

  .subtitle {
    font-size: 3 * $unit;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.2;
    opacity: $hero-text-secondary-opacity;
  }

  .navigation > ul {
    margin-top: $hero-item-spacing;
    list-style: none;
    li {
      position: relative;
      display: inline-block;

      &:first-of-type{
        display: none;
      }

      &:not(:last-child) > a:after {
        display: inline-block;
        margin: 0 10px;
        font-size: 50px;
        vertical-align: middle;
        content: "·";
      }
      > a {
        cursor: pointer;
        font-size: 1.5 * $unit;
        position: relative;
        display: inline-block;
        font-weight: 400;
        line-height: 5 * $unit;
        color: $hero-text-color;
        vertical-align: middle;
        opacity: $hero-text-secondary-opacity;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.content {
  padding: 18 * $unit 0;
  background-color: $color-content;

  section > p {
    text-align: center;
  }

  .catch-phrase{
    display: block;
    width: 100%;
    font-size: 2*$unit;
    margin-bottom: 3*$unit ;
    text-align: center;
  }

  .features {
    padding: 2*$content-offset;
    background-color: darken($color-content, 3%);
    display: inline-flex;

    > div {
      margin: 0 3*$unit;
    }
  }

  .warning{
    text-align: center;
    padding: $content-offset;
    background: $palette-red-100;
    color: $palette-red-600;
    line-height: 2.5*$unit;
    margin-top: 8*$unit;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: 2 * $unit 0;
  color: $color-content;
  text-align: center;
  background-color: $color-text;
  font-size: 1.4 * $unit;

  .love {
    font-size: 0.8rem;
    color: #ff7271;
  }

  small {
    margin-left: $unit;
    color: rgba(255,255,255,.5);
    font-size:  1.2 * $unit;
  }

  a{
    color: $color-accent;
  }

  .right{
    padding-right: 2 * $unit;
    float: right;
    span, a{
      display: inline-block;
      margin: 0 0.5*$unit;
      color: $palette-grey-200;
    }

    a{
      cursor: pointer;
    }
  }

  .left{
    padding-left: 2 * $unit;
    float: left;
  }
}