@import '../../../../../../../../../../../../global';
@import '../../../../../../../../../../../../mixins';
@import "config";

.none{
  color: $palette-grey-400;
  font-size: 1.5 * $unit;
  vertical-align: middle;
  margin-bottom: 2 * $unit;
}

.rule{
  display: inline-flex;
  width: 100%;
  margin-bottom: 4 * $unit;

  .rule-condition,
  .rule-consequence{
    flex: 1;

    .enlightment{
      font-size: 3*$unit;
      color: $color-accent;
    }

    .title{
      font-size: 1.4*$unit;
      color: $palette-grey-300;
    }
  }

  .rule-condition{
    padding-right: 2*$unit;
  }

  .node-thumb{
    @include concept(auto);


    .node-title{
      position: relative;
      font-variant: small-caps;
      color: $color-accent;
      font-size: 1.5*$unit;
      top: -$unit;
      left: -$unit;
    }

    .node-properties{
      padding-left: $unit;

      .match{
        font-variant: small-caps;
        color: $palette-grey-400;
        font-size: 1.2*$unit;
        margin: 0 $unit;
      }

      &:before,
      &:after{
        display: block;
        position: relative;
        left: -$unit;
      }

      &:before {
        content: "{";
        margin-bottom: $unit;
      }

      &:after {
        content: "}";
        margin-top: $unit;
      }
    }

    &:first-of-type{
      margin-top: 3*$unit;
    }
  }

  .node-relation{
    display: inline-flex;
    align-items: center;
    font-variant: small-caps;
    color: $color-accent;
    font-size: 1.2*$unit;
    line-height: 5*$unit;

    &:before{
      content: "";
      border-left: solid $color-accent 1px;
      position: relative;
      margin: 0 $unit 0 3*$unit;
      display: block;
      width: 1px;
      height: 4*$unit;
    }
  }
}
