@import "../global";
@import "config";

.appbar{
  height: $appbar-height;
  padding: 0 (1.5 * $unit);
}

.title{
  display: inline-block;

  > h1{
    display: inline-block;
    font-size: 2.5 * $unit;
    line-height: $appbar-height;
  }
}

.logo{
  width: $appbar-logo-size;
  height: $appbar-logo-size;
  margin-right: 5px;
  display: inline;
}

.menu-btn{
  font-size: 2.5 * $unit;
  color: $color-content !important;
  padding: 0;
  min-width: auto;
  margin-right: 1 * $unit;
  padding-left: 0.6 * $unit;

  > .icon{
    margin-right: 0;
  }
}

.navigation{
  ul > li {
    a {
      line-height: 6 * $unit;
      cursor: pointer;
    }

    padding-left: 2 * $unit;
    font-weight: bold;

    &:hover{
      background: $palette-grey-200;
    }
  }
}

.navigation-header{
  padding-left: 2 * $unit;
  line-height: $appbar-height;
  font-size: 3 * $unit;
  margin-bottom: 2 * $unit;
  color: $palette-grey-500;
  border-bottom: 1px solid $palette-grey-500;
  margin-top: -1px;
  background: $palette-grey-100;

  .logo  {
    vertical-align: middle;

    path{
      fill: $palette-grey-500;
    }
  }
}

.account{
  width: 100%;
  text-align: right;
  margin-right: 1 * $unit;

  .avatar-trigger{
    display: inline-block;
    position: relative;

    .avatar{
      cursor: pointer;
      background: $color-content;
      color: $color-primary;
    }

    .icon-more{
      cursor: pointer;
      color: $color-content;
      font-size: 2.6 * $unit;
      vertical-align: middle;
    }

    .account-menu{
      z-index: -1;

      &.visible{
        z-index: 200;
      }
    }
  }
}