@import '../style';
@import './config';

.properties{
  display: inline-flex;
  width: 100%;

  .infos{
    flex: 1;

    .title{
      width: 100%;
      font-size: 3 * $unit;
      margin-bottom: $unit;
      cursor: pointer;
    }

    .description{
      color: $palette-grey-400;
      font-size: 2.5 * $unit;
      margin-bottom: 4 * $unit;
      cursor: pointer;
    }
  }

  .color{
    flex-basis: 15 * $unit;
  }
}

