$hero-gradient-dark: $color-primary-dark;
$hero-gradient-light: $color-primary-light;
$hero-text-color: $color-primary-contrast;
$hero-max-width: 62 * $unit;
$hero-text-secondary-opacity: .75;
$hero-item-spacing: 5 * $unit;
$hero-logo-size: 12 * $unit;
$hero-logo-opacity: .85;