@import '../../global';
@import "../../topbar/config";

.app-wrapper{
  position: relative;
  height: 100vh;
}

.viewport{
  top: $appbar-height;
  position: relative;
}

.breadcrumbs-ctn{
  padding-bottom: 1 * $unit;
  vertical-align: middle;
  line-height: 24px;
  > span {
    float: left;
  }

  .breadcrumbs{
    float: left;
    margin-left: 0;

    > span {
      > span {
        vertical-align: bottom;
        display: inline-block;
      }
    }
  }
}

.clearfix{
  clear: left;
}