@import '../../../../../../../global';
@import '../../../../../../../mixins';
@import "config";


.viewer{
  @include container;
  padding-left: $aside-width + (3 * $unit);
}

.aside{
  @include page;
  background: $section-bg-color;
  position: absolute;
  left: 0;
  width: $aside-width;
  height: 100vh;

  .item.selected{
    background: $color-primary-light !important;
  }
}

.add-collection{
  margin: 2 * $unit auto 0 auto;
  display: block;
}

.empty{
  text-align: center;
  color: $palette-grey-400;

  max-width: 75 * $unit;
  margin: 4 * $unit auto;
  @include page;
  @include container;

  .empty-message{
    padding: 6 * $unit 0;
  }
}

