@import '../../../../../../../../../../../../../../global';
@import '../../../../../../../../../../../../../../mixins';
@import "config";


.section{
  margin: $unit 0 $unit 0;
  padding: 0 2*$unit;
  height: 60vh;
  overflow: auto;
}

.title{
  margin-left: -2*$unit;
  color: $palette-grey-500;
  font-size: 1.8 * $unit;
}

.resultsLayout{
  display: inline-flex;
  width: 100%;
  overflow: auto;

  .results {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: auto;
    width: 30*$unit;
    padding-left: 2*$unit;
  }
}

.empty{
  text-align: center;
  padding: 6*$unit 0;
}

.conceptWrapper{
  &.withHierarchy{
    margin: $unit 0 $unit 0;
    position: relative;
  }
}

.concept{
  animation: appear 0.2s;
  @include concept(20*$unit);
  cursor: pointer;

  &.selected .inner{
    background: lighten( $color-primary-light, 10% );
  }

  .inner {
    .others{
      margin-top: $unit;
      font-size: 0.75em;
      color: $palette-grey-400;

      .other{
        margin-right: $unit;
      }
    }
  }
}

.scheme{
  @include scheme(20*$unit)
}

.hierarchy{
  display: none;
  position: absolute;
  left: 32*$unit;
  top: 0;

  &.show{
    display: block;
  }

  .link{
    position: absolute;
    border-bottom: 1px solid #80CBC4;
    left: -8*$unit;
    top: 1.5*$unit;
    width: 8*$unit;
    text-align: center;
    font-size: 0.7*$font-size;
    color: #80CBC4;
  }

  .list{
    .conceptWrapper:not(:first-of-type) {
      .concept {
        margin: 0;

        &::before {
          content: "";
          border-left: 1px solid #80CBC4;
          position: relative;
          left: 4*$unit;
          height: 2*$unit;
          display: block;
        }
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform:  translateY(20px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}