@import '../../../../../../../../../../../../global';
@import '../../../../../../../../../../../../mixins';
@import "config";

.input{
  padding: 0 $unit 2*$unit $unit;
  margin-top: -0.8*$unit;
}

.none{
  color: $palette-grey-400;
  font-size: 1.5 * $unit;
  vertical-align: middle;
  margin-bottom: 2 * $unit;
}

.add-button{
  font-size: 1.3 * $unit;
}

.remove-button{
  font-size: inherit;
}

.input-row{
  width: 100%;
  display: inline-flex;

  .input{
    flex: 1;
  }
}