@import '../../../../../../../global';
@import "config";
@import "~react-toolbox/lib/button/config";
@import "../../../../../../../topbar/config";
@import "components/viewer/concept/config";

.concepts{
  position: relative;
}

.hierarchy-wrap{
  &.hidden{
    height: $viewer-header-height;
    width: 100%;

    pointer-events: none;
    z-index: -1;
    position: absolute;

    > * {
      opacity: 0;
    }
  }
}

.close-viewer-button{
  z-index: 2;
  animation: slideInUp 0.3s;
  position: absolute;
  top: $viewer-header-height;
  right: $unit;

  @media (min-width : $section-width / 2){
    right: calc(50% - #{$section-width / 2 + 3 * $unit});
  }
}

.affix{
  .close-viewer-button{
    position: fixed;
    top: 2 * $appbar-height;
  }
}

.animator{
  z-index: -1;
  pointer-events: none;
  position: fixed;
  overflow: hidden;
  background: $palette-grey-200;
  max-height: $viewer-header-height + (4*$unit) !important;
  opacity: 0;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 20%, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
