@import "../global";
@import "config";

@mixin preloader($color: #FFF, $size: 50%, $min-size: 30px) {
  position: relative;
  display: inline-block;
  width: $size;
  height: $size;
  min-width: $min-size;
  min-height: $min-size;
  border: 4px solid $color;
  animation: loader 2s infinite ease;

  > span {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: $color;
    animation: loader-inner 2s infinite ease-in;
  }
}

.default-loader{
  @include preloader($color-primary, 2 * $unit, 2 * $unit);

  position: fixed;
  left: calc(50% - #{$unit});
  transition: all 0.3s ease-in-out;
  top: -4 * $unit;
  opacity: 0;
  z-index: $z-index-highest * 2;

  &.show{
    top: 10 * $unit;
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}