@import '../../../../../../../../../../../../global';
@import '../../../../../../../../../../../../mixins';
@import "config";

.input-row{
  width: 100%;
  display: inline-flex;
  align-items: center;

  .input{
    flex: 1;
  }
}