@import '../../../../../../../../../global';
@import "config";


.list-wrapper{
  width: 100%;
  min-height: 37 * $unit;
  margin-right: 2 * $unit;

  .list{
    padding: 0;
    white-space: normal;

    .item{
      padding: 0.5*$unit 2*$unit;
      position: relative;

      &.selected{
        background: $palette-grey-200 !important;
      }
    }
  }
}

.add-collection{
  display: block;
  margin-left: 1.6 * $unit;
  margin-top: 3 * $unit;
}

.remove{
  position: absolute;
  right: 2*$unit;
  top: 1.5*$unit;
  color: $palette-grey-700;
  cursor: pointer;
}


