@import '../../global';
@import "config";

.loading{
  pointer-events: none;
}

.dialogHoc{
  display: flex;
  flex-direction: column;
}

.selectableListDialog{
  .innerSection{
    display: flex;
    flex-direction: column;


    .header{
      margin-bottom: 2*$unit;
    }

    .list{
      flex: 1;
      overflow: auto;
    }

    .footer{
      margin-top: 2*$unit;
    }
  }
}