@import '../../../../../../../../../../../../global';
@import '../../../../../../../../../../../../mixins';
@import "config";

.layout{
  margin-top: 2 * $unit;
  display: inline-flex;

  .concept{
    display: inline-flex;
    align-items: center;

    .inner {
      @include page;
      line-height: 1.5*$unit;
      width: 15 * $unit;
      padding: 2*$unit;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }
  }

  .relations{
    position: relative;
    flex: 1;

    .no-relation{
      color: $palette-grey-400;
      font-size: 0.9em;
      line-height: 5.2 * $unit;
      margin-left: 3 * $unit;
    }

    &::before{
      position: absolute;
      content: "";
      border-left: $color-accent 1px solid;
      height: calc(100% - #{5.5*$unit});
      top: 2.75*$unit;
    }

    .relation {
      display: block;
      margin-bottom: 2.5 * $unit;

      .wrapper{
        display: inline-flex;
        align-items: center;

        .relation-details {
          padding: 0 2*$unit;
          font-size: 0.8em;
        }
      }

      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }

  .relation-line{
    width: 5 * $unit;
  }

  &.narrowers{
    .relations {
      &::before{
        border-left: $color-accent 1px solid;
      }
    }

    .relation-details {
      color: $color-accent;
    }

    .relation-line {
      border-top: $color-accent 1px solid;
    }
  }

  &.related{
    .relations {
      &::before{
        border-left: $palette-red-200 1px solid;
      }
    }

    .relation-details {
      color: $palette-red-200;
    }

    .relation-line {
      border-top: $palette-red-200 1px solid;
    }
  }
}

.actions{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-top: 5 * $unit;
}