@import '../../../../../../../../../global';
@import "config";


.section{
  margin: $unit 0 $unit 0;
  padding: 0 2*$unit;
}

.title{
  margin-left: -2*$unit;
  color: $palette-grey-500;
  font-size: 1.8 * $unit;
}

.loading {
  pointer-events: none;
}