@import '../../../../../../../../../../../global';
@import '../../../../../../../../../../../mixins';
@import "config";


.concept{
  cursor: pointer;
  margin-bottom: 2*$unit;
  @include concept(auto);

  &.selected{
    @include shadow-3;
  }
}


