@import '../../../../../../../../../../../global';
@import '../../../../../../../../../../../mixins';
@import "config";


.searchInput{
  display: inline-flex;
  align-items: center;
  margin-top: -4*$unit;
  margin-bottom: 2*$unit;
  width: 100%;

  .icon{
    color: $palette-grey-300;
    margin-right: 0.5*$unit;
  }

  .input{
    flex: 1;
  }
}

.concept{
  cursor: pointer;
  margin-bottom: 2*$unit;
  @include concept(auto);

  &.selected{
    @include shadow-3;
  }
}

.loading{
  color: $palette-grey-300;
  text-align: center;
}


