@import '../../../../../../../../../global';
@import '../../../../../../../../../mixins';
@import "config";


.section{
  margin: $unit 0 $unit 0;
  padding: 0 2*$unit;
  height: 60vh;
  overflow: auto;
}

.title{
  margin-left: -2*$unit;
  color: $palette-grey-500;
  font-size: 1.8 * $unit;
}

.resultsLayout{
  display: inline-flex;
  width: 100%;
  overflow: auto;

  .results {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: auto;
    width: 30*$unit;
    margin-left: -2*$unit;
  }
}

.empty{
  text-align: center;
  padding: 6*$unit 0;
}

.conceptWrapper{
  margin: $unit 0 $unit 0;
}

.concept{
  animation: appear 0.2s;
  @include concept(20*$unit);

  &.selected .inner{
    background: lighten( $color-primary-light, 10% );
  }

  .inner {
    cursor: pointer;

    .others{
      margin-top: $unit;
      font-size: 0.75em;
      color: $palette-grey-400;

      .other{
        margin-right: $unit;
      }
    }
  }
}

.scheme{
  @include scheme(20*$unit)
}

.hierarchy{
  display: none;
  position: relative;
  left: 4*$unit;

  &.show{
    display: block;
  }

  .concept{
    margin: 0;
    .inner {
      cursor: default;
      @include page;
      line-height: 1.5*$unit;
      width: 15*$unit;
      padding: $unit;
      font-size: $font-size-small;
    }

    &::before{
      content: "";
      border-left: 1px solid $palette-grey-300;
      position: relative;
      left: 7.5*$unit;
      height: $unit;
      display: block;
    }
  }
}

.searchInput{
  display: inline-flex;
  align-items: center;
  width: 100%;

  .icon{
    color: $palette-grey-300;
    margin-right: 0.5*$unit;
  }

  .input{
    flex: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform:  translateY(20px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}