@import '../../../../../../../../../global';
@import '../../../../../../../../../mixins';
@import "./config";
@import "../../config";
@import "../../../../../../../../../../../node_modules/react-toolbox/lib/tabs/config";

@import "../../../../../../../../../topbar/config";

.header{
  animation: appear 0.2s;
  background: $palette-grey-200;
  padding: 2 * $unit;
  height: $viewer-header-height;
  margin-bottom: 2 * $unit;

  .header-wrap{
    position: relative;
    padding-top: $unit;
    margin: auto;
    max-width: $section-width;

    .preTitle{
      font-variant: small-caps;
      top: -$unit;
      left: 0;
      position: absolute;
      color: $palette-grey-400;
      font-size: 1.6 * $unit;
      margin-bottom: $unit;
    }

    .checkButton{
      top: -$unit;
      right: 0;
      position: absolute;
    }

    .title{
      padding-top: $unit;
      color: $palette-grey-700;
      font-size: 4 * $unit;
      font-variant: small-caps;
      margin-bottom: 2 * $unit;
      min-height: 12 * $unit;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tabs{
      nav {
        box-shadow: inset 0 -1px $palette-grey-100;

        .nav{
          color: inherit;
          padding: $tab-label-h-padding $tab-label-v-padding;
        }

        a{
          color: $color-text;
        }
      }
    }
  }
}

.header-wrapper{
  height: $viewer-header-height + 3 * $unit;

  &.affix .header{
    z-index: 1;
    position: fixed;
    width: 100%;
    top: $appbar-height;
    height: $appbar-height;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);

    .tabs{
      display: none;
    }
  }
}

.close-icon{
  float: right;
  cursor: pointer;
}

.section{
  @include floating-section($section-width);
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


@keyframes slideInUp {
  from {
    transform: translate3d(0, 20%, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
