@import "~react-toolbox/lib/mixins";

@mixin code-typography {
  font-family: 'source-code-pro', Menlo, Consolas, Monaco, 'Andale Mono', 'Courier New', monospace;
  font-size: 13px;
  line-height: 1.4;
}


@mixin container($padding : 3*$unit){
  padding: $padding;

  &.noPadding{
    padding: 0;
  }
}

@mixin page{
  background: $section-bg-color;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),
              0 3px 1px -2px rgba(0,0,0,.2),
              0 1px 5px 0 rgba(0,0,0,.12);
}

@mixin shadow-1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin shadow-2{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin shadow-3{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin shadow-4{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@mixin shadow-5{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@mixin card-1{
  background: $section-bg-color;
  @include shadow-1;}

@mixin card-2 {
  background: $section-bg-color;
  @include shadow-2;
}

@mixin card-3{
  background: $section-bg-color;
  @include shadow-3;
}

@mixin card-4{
  background: $section-bg-color;
  @include shadow-4;
}

@mixin card-5{
  background: $section-bg-color;
  @include shadow-5;
}

@mixin floating-section($width){
  @include page;
  @include container;

  box-sizing: border-box;
  margin: auto;
  max-width: $width;
  animation: slideInUp 0.3s;

  padding-top: 2*$unit;

  .section-title{
    font-size: 1.8 * $unit;
    margin: $unit 0 ;
    vertical-align: middle;

    .section-icon {
      vertical-align: sub;
      font-size: 2.3 * $unit;
    }

    small{
      font-size: 0.8em;
    }

    .section-subtitle{
      margin: $unit 0;
      color: $palette-grey-500;
      font-size: 0.8em;

      p{
        line-height: 1.25*$font-size-normal;
        margin-top: $unit;
      }
    }
  }

  .section-separator{
    margin: 3*$unit 0;
    border-top: 1px solid #eeeeee;
  }

  .dropdown{
    padding-bottom: 0;
  }

  &:not(:first-of-type){
    margin-top: 2 * $unit;
  }
}

@mixin concept($width:  15 * $unit) {
  .inner {
    @include page;
    line-height: 1.5*$unit;
    width: $width;
    padding: 2*$unit;
  }
}

@mixin scheme($width:  15 * $unit) {
  .inner{
    @include page;
    border-radius: 7px;
    line-height: 1.5*$unit;
    width: $width;
    padding: 2*$unit;
    color: white;
  }
}