@import '../../../../global';
@import '../../../../mixins';
@import "config";

@import "~react-toolbox/lib/list/config";

.header{
  @include container;

  margin: (2 * $unit) 0;

  .title{
    color: $color-primary;
    @include typo-display-2();
  }

  .subtitle{
    @include typo-subhead-2();
    margin-left: 5px;
  }
}

.section{
  @include page;
  display: block;
  width: 70%;
  margin:auto;
  text-align: center;
}

.list {
  margin: 0;

  > .subheader {
    text-emphasis: circle;
    font-size: 1.2 * $unit;
  }

  .theso-icon-menu{
    position: absolute;
    right: $unit;
    top: 0.5*$unit;
  }

  .item{
    position: relative;
  }
}

.add-thesaurus{
  margin-bottom: 3*$unit;
}

.empty {
  text-align: center;
  color: $palette-grey-400;
  padding: 5*$unit 0 3*$unit 0;
}