@import '../../../../../../../global';
@import '../../../../../../../mixins';
@import "config";

.layout{
  height: 70vh;
  width: 100%;

  :global{
    .node circle {
      fill: #fff;
      stroke: $color-primary-dark;
      stroke-width: 1px;

      &.has-children{
        cursor: pointer;
      }
    }

    .node text {
      font-size: 1.4*$unit;
      fill: $palette-grey-600;
      cursor: pointer;
      user-select: none;
      &.stroke{
        fill: none;
        stroke: #fafafa;
        stroke-width: 5;
      }
    }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 2px;
    }
  }

  .menu{
    position: fixed;
  }
}

