@import '../global';
@import "config";

.error-title{
  font-size: 1.1em;
}

.error-details{
  margin-top: $unit;
  font-family: monospace;
  font-size: 0.8em;
  color: $palette-grey-800;
  background: $palette-grey-100;
  padding: 2*$unit;

  > * {
    white-space: normal;
  }
}


