@import '../../../../../../../../../global';
@import '../../../../../../../../../mixins';
@import "config";
@import "../../config";
@import "../../../../../../../../../topbar/config";
@import "../../../../../../../../../preloader/style";

@import "~react-toolbox/lib/button/config";

.layout{
  display: inline-flex;
  width: 100%;
  overflow: hidden;

  .middle, .asideLeft, .asideRight{
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }

  .middle{
    flex: 1;
    overflow-x: auto;
  }

  .asideRight, .asideLeft{
    box-sizing: border-box;
    z-index: $z-index-high;
    padding: 3*$unit;
    flex-basis: 30*$unit;

    .title{
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 3*$unit;
      color: $palette-grey-400;
    }
  }

  .asideRight{
    margin-right: -30*$unit;
    border-left: 3px $palette-grey-200 solid;

    &.show{
      margin-right: 0;
    }
  }

  .asideLeft{
    margin-left: -30*$unit;
    border-right: 3px $palette-grey-200 solid;

    &.show{
      margin-left: 0;
    }
  }
}

.hierarchy{
  @include container(3*$unit 0 3*$unit 3*$unit);
  white-space: nowrap;
  width: 100%;
  min-height: 100vh;

  .header{
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-bottom: 4*$unit;

    .root{
      display: inline-block;
      cursor: pointer;
      position: relative;

      &::after{
        display: block;
        content: '';
        border-left: $color-primary-light 1px solid;
        height: 4*$unit;
        margin: $unit 0 0  2 * $unit;
        position: absolute;
      }

      > .inner {
        @include shadow-1;
        padding: $unit 0.5 * $unit;
        transition: background-color 0.5s;
        display: inline-flex;

        > .root-label {
          color: $color-primary;
          font-variant: small-caps;
          display: inline-block;
          font-size: 2 * $unit;
          vertical-align: middle;
          line-height: $button-height;
          height: $button-height;
          margin: 0 2 * $unit;
        }

        > .icon-menu{
          margin-top: -2px;
        }
      }

      &.selected{
        > .inner {
          background-color: $color-primary-light;

          > .root-label {
            color: $color-content;
          }
        }
      }

      &.focused{
        > .inner {
          @include shadow-3;
          transition: box-shadow 0.5s;
        }
      }


    }

    .showDraftConceptsButton{
      margin-left: 6*$unit;
    }
  }



  .columns{
    display: flex;
    position: relative;
    margin-left: -$unit;

    .column{
      transform-origin: top left;
      animation: slideInLeft 0.3s;
      width: $column-width;
      min-width: $column-width;

      .concept-list{
        position: relative;
        padding: 0 2*$unit ;
        margin-left: 4*$unit ;
        margin-right: $unit ;

        .concept-item {
          position: relative;
          padding: $concept-outer-padding 0;

          &:first-of-type{
            padding-top: 0;
          }

        }

        &.contains-expanded{
          .concept, .scheme {
            &:not(.expanded) {
              .inner, .children-preview {
                opacity: 0.3;
              }
            }

            &.expanded{
              .inner{
                margin-right: -3*$unit;

                &::after{
                  position: absolute;
                  content: "";
                  width: 2*$unit;
                  right: -2*$unit;
                  bottom: $concept-vert-indice-bottom-offset;
                  border-top: 1px solid $color-primary-light;
                }
              }

              .children-preview {
                display: none;
              }
            }
          }

          .concept-item{
            &.selected-sibling{
              &::after{
                top:0;
                right: -5*$unit;
                position: absolute;
                content: '';
                border-left: 1px $color-primary-light solid;
                height: 100%;
              }

              &.expanded::after{
                height: calc(100% - #{$concept-vert-indice-bottom-offset + $concept-outer-padding});
              }
            }
          }
        }

        &::before{
          left: 0;
          position: absolute;
          content: '';
          border-left: 1px $color-primary-light solid;
          height: calc(100% - #{$concept-vert-indice-bottom-offset + $concept-outer-padding});
        }
      }

      &:not(:first-of-type){
        .concept-list{
          &::after{
            position: absolute;
            content: "";
            width: 2*$unit;
            left: -2*$unit;
            top: 0;
            border-top: 1px solid $color-primary-light;
          }
        }
      }

      .loading{
        color: $palette-grey-300;
      }
    }
  }
}

.help{
  max-width: 30 * $unit;
  font-size: 1.3 * $unit;
  color: $palette-grey-700;
  margin-left: 4 * $unit;
  padding-top:  $unit;
  border-top: 1px solid $palette-grey-300;

  .icon-menu{
    float: none;
    font-size: 2 * $unit;
    line-height: 1.3 * $unit;
    vertical-align: middle;
    margin: 0 0.3*$unit;
  }

  p{
    white-space: normal;
    margin-bottom: 0.8 * $unit;
    line-height: 2 * $unit;

    &.light{
      color: $palette-grey-500;
    }
  }
}

.concept, .scheme{
  box-sizing: border-box;
  position: relative;
  width: 100%;

  .inner{
    @include page;
    position: relative;
    padding: $concept-inner-padding 2 * $concept-inner-padding;
    cursor: pointer;
    background: $section-bg-color;
    transition: margin-right 0.2s;

    &::before{
      position: absolute;
      content: "";
      width: 2*$unit;
      left: -2*$unit;
      bottom: $concept-vert-indice-bottom-offset;
      border-top: 1px solid $color-primary-light;
    }

    > .headline{
      width: 100%;
      display: inline-flex;
      align-items: center;

      .icon-menu{
        margin-right: -1rem;
        margin-top: -3px;
        > div{
          z-index: 20;
        }
      }

      .label{
        flex: 1;
        white-space: pre-wrap;
        display: block;
        font-size: $font-size-small;
        position: relative;
      }

      .icon-close-hierarchy{
        min-width: inherit;
        height: $button-height;
        cursor: pointer;
        font-size: 2.2 * $unit;
        padding: 0;
        margin-left: $unit;
        margin-right: -1 * $concept-inner-padding;

        & > span {
          margin-right: 0 !important;
        }

        &:hover{
          > span:first-of-type {
            transition: transform 0.5s;
            transform: rotateZ(180deg);
          }
        }
      }
    }

    .isDraftButton{
      > button > span {
        padding: 0;
        color: $palette-grey-400;
        margin-left: -$unit;
      }
    }
  }

  .children-preview{
    opacity: 0.6;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    position: absolute;
    height: 100%;
    right: - 3.2 * $unit;
    top: 0;
    z-index: 2;
    box-sizing: border-box;

    .child-preview{
      @include page;
      width: 3 * $unit;
      flex: 1;

      &:not(:first-of-type){
        margin-top : 0.2 * $unit;
      }
    }

    &:hover{
      opacity: 1;
    }
  }

  &:hover{
    > .inner, > .children-preview{
      opacity: 1 !important;
    }
  }

  &.selected{
    > .inner, > .children-preview{
      opacity: 1 !important;
    }
  }

  &.cut{
    > .inner {
      box-shadow: 0 0 3px 0 $palette-amber-300;
      transition: box-shadow 0.5s;
    }
  }

  &.focused{
    > .inner {
      @include shadow-3;
      transition: box-shadow 0.5s;
    }

    > .inner, > .children-preview{
      opacity: 1 !important;
    }
  }
}

.concept{
  .inner {
    border-radius: 3px;
  }
}

.scheme{
  .inner{
    border-radius: 7px;

    background: $color-primary;
    color: $color-white;

    .label{
      font-size: $font-size-small;
      line-height: 1.8*$unit;
      white-space: normal;
    }

    .icon-close-hierarchy{
      color: $color-white;
    }
  }
}

.shortcut{
  float: right;
  font-size: 0.8em;
  color: $palette-grey-400;
  padding-left: $unit;
}

.invalidateMessage{
  p{
    margin-bottom: $unit;
  }

  .bold{
    font-weight: bold;
  }

  a{
    cursor: pointer;
    text-decoration: underline;
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-5%, 0, 0) scaleX(0);
    visibility: visible;
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0) scaleX(1);
    opacity: 1;
  }
}


.badge{
  background: $palette-grey-400;
  color: $color-background;
  border-radius: 5px;
  padding: 0.2*$unit 0.5*$unit;
  font-size: 0.9*$font-size-small;
  margin-right: 0.5*$unit;
}

.inlineConcept{
  margin-left: 0.5*$unit;
  @include shadow-1;
  padding: 0.2*$unit 0.5*$unit;
}