@import '../../../../../../../../../global';
@import '../../../../../../../../../mixins';
@import "config";

@import "~react-toolbox/lib/button/config";

.title{
  width: 100%;
  font-size: 3 * $unit;
  margin-bottom: $unit;
  cursor: pointer;
}

.description{
  color: $palette-grey-400;
  font-size: 2.5 * $unit;
  margin-bottom: 4 * $unit;
  cursor: pointer;
}

.concepts{
  @include page;

  max-width: 50 * $unit;
  margin: 0 auto;
  display: block;
}

.concept{
  background: $palette-grey-50;
  position: relative;
  padding-top: 0.5 * $unit;
}

.empty{
  line-height: 30 * $unit;
  text-align: center;
  color: $color-primary-light;
}

.remove{
  position: absolute;
  right: $unit;
  top: 1.5* $unit;
  color: $palette-grey-700;
  cursor: pointer;
}

.input{
  width: 50%;
  display: inline-block;
  margin-right: 2 * $unit;
  padding: 0 !important;
}