@import "../global";

.editor{
  position: relative;
  z-index: 2;
}

.overlay{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.placeholder{
  color: $palette-grey-300;
}

.color-input{
  position: relative;

  input{
    cursor: pointer !important;
  }

  label{
    top: 0 !important;
  }
}

.swatches{
  position: absolute;
  bottom: -2*$unit;
  left: 0;
  z-index: $z-index-high;
}