@import '../../../../global';
@import '../../../../mixins';

@import "config";
@import "../../../../topbar/config";

@import "~react-toolbox/lib/list/config";
@import "~react-toolbox/lib/tabs/config";

.thesaurus{
  position: relative;
}

.header{
  @include container;

  .title{
    cursor: pointer;
    color: $color-primary;
    @include typo-display-2();
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
  }

  .subtitle{
    cursor: pointer;
    @include typo-subhead-2();
  }
}

.tabs{
  .tab:first-child{
    margin-left: 2*$unit;
  }
}

.back-to-thesautheque{
  float: right;
}

.nav{
  color: inherit;
  padding: $tab-label-h-padding $tab-label-v-padding;
}

.input{
  width: 50%;
  display: inline-block;
  margin-right: 2 * $unit;
  padding: 0 !important;
}